.App{
  width: 960px;
}

.ChatContent{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.Info{

}

.outerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A1A1D;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 60%;
  width: 35%;
}

@media only screen and (max-width: 960px){
  .App{
    width: 100%;
  }
}
