.App{
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #0e0672;
}

.Apptitle{
  font-weight: bold;
  color: white;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.ChatGrid{
  width: 960px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #ffffff;
}

@media only screen and (max-width: 960px){
  .ChatGrid{
    width: 100%;
  }
}
