.formBox {
    display: flex;
    border: 2px solid #a4a3a3;
}

.inputBox {
    padding: 2%;
    width: 80%;
    font-size: 1em;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.sendButton {
    color: #fff;
    background: rgb(18, 8, 110);
    width: 20%;
    border-radius: 20px;
    font-weight: 500;
}